<nav>
  <hgroup>
    <img src="blog-placeholder-3.jpg" alt="logo image">
    <a href="/home">Title</a>
  </hgroup>
  <ul>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/register">Register</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    padding-inline: 1em;
  }
  hgroup {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }
  img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  hgroup > a {
    font-size: 1.5em;
    text-decoration: none;
  }
  ul {
    display: flex;
    gap: 0.5em;
    list-style: none;
    margin-left: auto;
  }
</style>