---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { checkAuth } from '../lib/checkAuth.ts'
import Grid from './Grid.astro'
const { cookies, redirect } = Astro;

const auth = await checkAuth({cookies, redirect})
  .then(data => data)
  .catch(err => console.log(err));
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
    <Grid>
      <slot />
    </Grid>
  </body>
</html>
